* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body {
  background-image: url("https://wallpaperaccess.com/full/24934.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-sm {
  display: flex;
  opacity: 0.9;
  background-color: whitesmoke;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.sprites {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
img {
  height: 16em;
}
input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
  border-radius: 10px;
  color: #111;
}
@media (max-width: 500px) {
  .table {
    max-width: 300px !important;
    font-size: 10px !important;
  }
  input {
    max-width: 300px;
  }
  img {
    height: 10.22em;
  }
}
